[submodule "com.niccohagedorn.demoplugin.sdPlugin/propertyInspector/streamdeck-javascript-sdk"]
	path = com.niccohagedorn.demoplugin.sdPlugin/propertyInspector/streamdeck-javascript-sdk
	url = https://github.com/elgatosf/streamdeck-javascript-sdk.git
